<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="log4net.Config" value="Configs\log4net.config" />
    <add key="log4net.Config.Watch" value="True" />
    <!--add key="DebugMode" value="false" /-->
    <add key="TransferToMaster" value="false" />
    <!--basic-->
    <!--爬虫Name编码规则：第一位表示爬虫类型（N为普通爬虫;S为辅助搜索;W为微博同步;Q为微博搜索;C为微信同步;*为全部;B为论坛爬虫;Z为PDF爬虫），第二位表示国家（C为中国），三四位为地区（31为上海），第五位为机房分组（T为测试机房），最后三位为爬虫编号-->
    <add key="Palas.Crawler.Name" value="GC31T001" />
    <add key="Palas.Crawler.Group" value="1" />
    <add key="Palas.Crawler.CrawlerCount" value="1" />
    <add key="Palas.Crawler.MetaSearchCount" value="0" />
    <add key="Palas.Crawler.WeiboSearchCount" value="0" />
    <add key="Palas.Crawler.WeiboSyncCount" value="0" />
    <add key="Palas.Crawler.WechatSyncCount" value="0" />
    <add key="Palas.Crawler.FuDanCount" value="0" />
    <add key="Palas.Crawler.AnalyzeType" value="STORM" />
    <add key="Palas.Crawler.BBSCount" value="0" />
    <add key="Palas.Crawler.PDFCrawler" value="0" />
    <add key="Redis.Host.Crawler" value="mech.palaspom.com" />
    <add key="Redis.Port.Crawler" value="11377" />
    <add key="Palas.Crawler.FollowerCount" value="0" />
    <add key="Palas.Crawler.AuthorFansCount" value="0" />
    <add key="Palas.Crawler.CBDCount" value="0" />
    <add key="Palas.Crawler.CBDRegionID" value="ALL" />
    <add key="Palas.Crawler.LocHistCount" value="0" />
    <add key="Palas.Crawler.ReplyTrackingCount" value="0" />
    <add key="Palas.Crawler.ForwardTrackingCount" value="0" />
    <add key="Palas.Crawler.WiseNews" value="0" />
    <!--attach download-->
    <add key="Palas.Crawler.AttachDownloaderCount" value="0" />
    <add key="Palas.Crawler.AttachPath" value="E:\Lib\Palas2\AttachDownload" />
    <add key="Palas.Crawler.IgnoreAttachDownload" value="1" />
    <!--gecko-->
    <add key="Palas.Crawler.GeckoCount" value="1" />
    <add key="Palas.Crawler.Gecko.MaxMemMB" value="1500" />
    <!--Analyzer Configuration-->
    <add key="Palas.Analyzer.EntityRefreshMins" value="360" />
    <!--WCF gecko-->
    <add key="WCFGeckoMode" value="true" />
    <add key="Palas.Crawler.GeckoPath" value="E:\codes\PalasV5\Crawler.GeckoHost\bin\Debug\Crawler.GeckoHost.exe" />
    <!--WCF Word Splite-->
    <add key="WCFSpitterMode" value="true" />
    <add key="WCFSplitterPath" value="E:\codes\PalasV5\AnalyzeSplitWord\bin\Debug\AnalyzeSplitWord.exe" />
    <add key="SplitterCount" value="1" />
    <!--other-->
    <add key="MySqlAccess.BadWords" value="delete" />
    <add key="Log.MinLevel" value="0" />
    <add key="DebugMode" value="true" />
    <add key="Palas.Analyzer.MultiIssuesAsDupItems" value="0" />
    <add key="Palas.Analyzer.Core.Duplication.Mode" value="thrift" />
    <add key="MaintainESCacheInMySQL" value="false" />
    <add key="Duplication.Concurrent.Count" value="10" />
    <!-- 设置队列的大小，如果达到上限则新的请求必须Sync等待 -->
    <add key="Duplication.Queue.Max" value="80000" />
    <add key="Redis.Host.ItemDup" value="pubtopic.org" />
    <add key="Redis.Port.ItemDup" value="11370" />
    <add key="Redis.Host.Weibo" value="pubtopic.org" />
    <add key="Redis.Port.Weibo" value="11371" />
    <add key="Redis.Host.Forum" value="pubtopic.org" />
    <add key="Redis.Port.Forum" value="11372" />
    <add key="Redis.Host.Other" value="pubtopic.org" />
    <add key="Redis.Port.Other" value="11373" />
    <!--all job moniter-->
    <add key="MysqlApiUrl" value="http://internal.palaspom.com/Entity/" />
    <add key="CrawlConductUrl" value="http://internal.palaspom.com/Conduct/" />
    <add key="DupThenIndexUrl" value="http://internal.palaspom.com/Index/" />
    <add key="AnalyzeMatchPath" value="E:\codes\PalasV5\AnalyzeMatch\bin\Debug\AnalyzeMatch.exe" />
    <!--weibo account moniter-->
    <add key="alertMail" value="carey@taikor.com" />
    <add key="LimitMins" value="3" />
    <add key="LimitReqs" value="5" />
    <add key="AccountLimitMins" value="6" />
    <add key="AccountLimitReqs" value="5" />
    <add key="MinAliveAccount" value="3" />
    <add key="MaxAccount" value="10" />
    <add key="MinEnableCount" value="3" />
  </appSettings>
  <connectionStrings>
    <add name="MySQL" connectionString="Server=pubtopic.org;uid=palas;pwd=lapas;Database=Palas_V5;charset=utf8" />
    <add name="MySql.User" connectionString="Server=pubtopic.org;Database=cai;Uid=cai;Pwd=iaciaciac;charset=utf8;" />
    <add name="MySql.rdReport" connectionString="Server=pubtopic.org;Database=cai;Uid=cai;Pwd=iaciaciac;charset=utf8;" />
    <add name="MySql.Stock" connectionString="Server=mech.palaspom.com;Database=iTrader;Uid=palas;Pwd=lapas;charset=utf8;" />
    <add name="ESDatabase" connectionString="host=mech.palaspom.com|tank.palaspom.com;port=19235;defaultIndex=palas" />
    <add name="PalasV5Context" connectionString="server=pubtopic.org;user id=palas;password=lapas;persistsecurityinfo=True;database=Palas_V5;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="daas_db_v1Context" connectionString="server=pubtopic.org;user id=palas;password=lapas;persistsecurityinfo=True;database=daas_db_v1;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="caiContext" connectionString="server=pubtopic.org;user id=palas;password=lapas;persistsecurityinfo=True;database=cai;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="quantContext" connectionString="server=mech.palaspom.com;user id=palas;password=lapas;persistsecurityinfo=True;database=quant;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="CaiModels" connectionString="server=pubtopic.org;user id=palas;password=lapas;persistsecurityinfo=True;database=cai;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="WechatGroupContext" connectionString="server=mech.palaspom.com;user id=palas;password=lapas;persistsecurityinfo=True;database=wechat_group;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="iTraderContext" connectionString="server=mech.palaspom.com;user id=palas;password=lapas;persistsecurityinfo=True;database=iTrader;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="AdviserContext" connectionString="server=pubtopic.org;user id=palas;password=lapas;database=adviser;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
    <add name="PalasEntityContext" connectionString="server=pubtopic.org;user id=palas;password=lapas;persistsecurityinfo=True;database=Palas_V5;Character Set=utf8" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.10.0" newVersion="6.9.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.16.0" newVersion="1.6.16.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d"></provider></providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.10.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data></configuration>