<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="TransferToMaster" value="false" />
    <!--basic-->
    <!--爬虫Name编码规则：第一位表示爬虫类型（S为微博同步爬虫），第二位表示国家（C为中国），三四位为地区（31为上海），第五位为机房分组（T为测试机房），最后三位为爬虫编号-->
    <add key="Palas.Crawler.Name" value="SC31C015" />
    <add key="Palas.Crawler.Group" value="0" />
    <add key="Palas.Crawler.DCPCount" value="1" />    
    <!--Analyzer Configuration-->
    <add key="Palas.Analyzer.EntityRefreshMins" value="360" />
    <!--WCF Word Splite-->
    <add key="WCFSpitterMode" value="false" />
    <add key="WCFSplitterPath" value="E:\codes\PalasV5\AnalyzeSplitWord\bin\Debug\AnalyzeSplitWord.exe" />
    <add key="SplitterCount" value="1" />
    <!--other-->
    <add key="MySqlAccess.BadWords" value="delete" />
    <add key="Log.MinLevel" value="0" />
    <add key="DebugMode" value="true" />
    <add key="Palas.Analyzer.MultiIssuesAsDupItems" value="0" />
    <add key="Palas.Analyzer.Core.Duplication.Mode" value="thrift" />
    <add key="MaintainESCacheInMySQL" value="false" />
    <!--all job moniter-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MysqlApiUrl" value="http://180.153.177.169:8081/" />
    <add key="CrawlConductUrl" value="http://180.153.177.169:8081/Conductor/" />
    <add key="AnalyzeMatchPath" value="E:\codes\PalasV5\AnalyzeMatch\bin\Debug\AnalyzeMatch.exe" />
  </appSettings>
  <connectionStrings>
    <!-- 测试不使用Mysql的爬虫调度（分析部分目前还有使用） -->
    <add name="MySql" connectionString="Server=180.153.177.252;uid=palas;pwd=lapas;Database=Palas_V5;charset=utf8" />
    <add name="PalasDB" connectionString="metadata=res://*/DataAccess.PalasDBModel.csdl|res://*/DataAccess.PalasDBModel.ssdl|res://*/DataAccess.PalasDBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=pubtopic.org;User Id=material;database=Palas_V5;password=opinion;Persist Security Info=True&quot;" providerName="System.Data.EntityClient" />
    <!-- -->
    <add name="ESDatabase" connectionString="host=180.153.177.169;port=9200;defaultIndex=palas" />
    <add name="MongoDB" connectionString="mongodb://180.153.177.169:7600/Palas;socketTimeoutMS=600000" />
    <add name="DuplicationIP" connectionString="180.153.177.169" />

  </connectionStrings>
  <system.serviceModel>
    <bindings>

      <netTcpBinding>
        <binding name="NetTcpBinding_IProcessSvc" sendTimeout="00:10:00" receiveTimeout="00:10:00">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>      
      <endpoint address="net.tcp://180.153.177.169:9890/FindDupThenIndex" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProcessSvc" contract="IProcessSvc" name="NetTcpBinding_IProcessSvc" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="c5687fc88969c44d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.9.10.0" newVersion="6.9.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.16.0" newVersion="1.6.16.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
