<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="MySqlAccess.BadWords" value="delete"/>
    <add key="Palas.Conductor.MQ.Crawl.SendItem" value="tcp://10.0.14.6:9002"/>
    <add key="ServerLocation" value="222.66.8.251"/>
    <add key="WorkerThreadCount" value="1"/>
    <add key="WorkerType" value="WeiboCBD"/>
    
    <add key="Palas.Crawler.Name" value="C17" />
    <add key="Palas.Crawler.Group" value="0" />
    <add key="Palas.Crawler.CrawlerCount" value="5" />
    <add key="Palas.Crawler.FollowerCount" value="0" />
    <add key="Palas.Crawler.DCPCount" value="0" />
    <add key="Palas.Crawler.AuthorFansCount" value="0" />
    <add key="Palas.Crawler.CBDCount" value="0" />
    <add key="Palas.Crawler.CBDRegionID" value="ALL" />
    <add key="Palas.Crawler.LocHistCount" value="0" />
    <add key="Palas.Crawler.ReplyTrackingCount" value="0" />
    <add key="Palas.Crawler.ForwardTrackingCount" value="0" />
    <add key="Palas.Crawler.WiseNews" value="0" />
    <!--attach download-->
    <add key="Palas.Crawler.AttachDownloaderCount" value="0" />
    <add key="Palas.Crawler.AttachPath" value="E:\Lib\Palas2\AttachDownload" />
    <add key="Palas.Crawler.IgnoreAttachDownload" value="1" />
    <!--gecko-->
    <add key="Palas.Crawler.GeckoCount" value="1" />
    <add key="Palas.Crawler.Gecko.MaxMemMB" value="1500" />
    <add key="Palas.Crawler.XULRunnerPath" value="D:\xulrunner" />
    <add key="Palas.Crawler.XULRunnerRootCachePath" value="D:\cache" />
    <!--Analyzer Configuration-->
    <add key="Palas.Analyzer.EntityRefreshMins" value="360" />
    <!--WCF gecko-->
    <add key="WCFGeckoMode" value="false" />
    <add key="Palas.Crawler.GeckoPath" value="E:\codes\Palas2\Crawler.GeckoHost\bin\Debug\Crawler.GeckoHost.exe" />
    <!--WCF Word Splite-->
    <add key="WCFSpitterMode" value="false" />
    <add key="WCFSplitterPath" value="E:\codes\Palas2\AnalyzeSplitWord\bin\Debug\AnalyzeSplitWord.exe" />
    <add key="SplitterCount" value="1" />
    <!--Dedicated Crawl Process-->
    <add key="Palas.Crawler.DCPManagerHost" value="net.tcp://127.0.0.1:8756" />
    <add key="Palas.Crawler.DCPCrawlerGroup" value="7" />
    <add key="Palas.Crawler.DCPWindowStyle" value="Hidden" />
    <add key="Palas.Crawler.DCPMaxCount" value="1" />
    <add key="Palas.Crawler.DCPWeibo" value="E:\codes\Palas2\DedicatedCrawler\WeiboCrawler\bin\Debug\WeiboCrawler.exe" />
    <!--other-->
    <add key="Log.MinLevel" value="0" />
    <add key="DebugMode" value="true" />
    <add key="Palas.Analyzer.MultiIssuesAsDupItems" value="0" />
    <add key="Palas.Analyzer.Core.Duplication.Mode" value="thrift" />
    <add key="MaintainESCacheInMySQL" value="false" />
    <!--<add key="Palas.Conductor.MQ.Crawl.BindVentilator" value="tcp://127.0.0.1:9001" />
    <add key="Palas.Conductor.MQ.Crawl.SendItem" value="tcp://127.0.0.1:9002" />
    <add key="Palas.Conductor.MQ.Crawl.SendAttach" value="tcp://127.0.0.1:9003" />
    <add key="Palas.Conductor.MQ.Follow.BindVentilator" value="tcp://127.0.0.1:9011" />-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="MysqlApiUrl" value="http://inner.palaspom.com/" />
    <add key="AnalyzeMatchPath" value="E:\codes\Palas2\AnalyzeMatch\bin\Debug\AnalyzeMatch.exe" />
    <!--
      WeiboUserCensus: 用户普查
      WeiboSub: 僵尸账号关注微博刷新
      WeiboCBD: CBD周围动态扫描
      WeiboLocHistory: 用户带地理信息微博扫描
      LoginAccountWorker: 关注用户，只能开一个线程
      RelationshipWorker: 刷新用户粉丝和关注列表，并统计用户关系信息
    -->
    <add key="WCFHostName" value="251-WeiboCrawler"/>
    <add key="WCFHostIPAddress" value="222.66.8.251"/>
    <add key="WCFMonitorServer" value="net.tcp://222.66.89.17:8001/Monitor"/>
  </appSettings>
  <connectionStrings>
    <add name="MongoDB" connectionString="mongodb://180.153.177.169:7600/Palas;socketTimeoutMS=600000"/>
    <add name="MySql" connectionString="Server=180.153.177.252;uid=palas;pwd=lapas;Database=Palas_V4;charset=utf8" />
    <add name="PalasDB" connectionString="metadata=res://*/DataAccess.PalasDBModel.csdl|res://*/DataAccess.PalasDBModel.ssdl|res://*/DataAccess.PalasDBModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=222.66.89.17;User Id=material;database=Palas_V4;password=opinion;Persist Security Info=True&quot;" providerName="System.Data.EntityClient"/>
    <add name="ESDatabase" connectionString="host=180.153.177.169;port=9200;defaultIndex=palas"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IConductor" sendTimeout="00:10:00" receiveTimeout="00:10:00" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://conductor.palaspom.com/conductor.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConductor" contract="ConductorSvc.IConductor" name="BasicHttpBinding_IConductor" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
