<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>
  </configSections>
  <connectionStrings>
    <add name="MySql" connectionString="Server=pubtopic.org;uid=voteuser;pwd=1QYaPk3iK+aP;Database=vote;charset=utf8" providerName="MySql.Data.MySqlClient"/>
  </connectionStrings>
  <rewriter>
    <rewrite url="^~/index.html$" to="~/Index.aspx" processing="stop" />
    <rewrite url="^~/info/(.+).html$" to="~/Info.aspx?Id=$1" processing="stop" />   <!--即把$1的值给括号的地方-->
    <rewrite url="^~/toupiao/(.+).html$" to="~/toupiao.aspx?Id=$1" processing="stop" />
    <rewrite url="^~/activity.html$" to="~/Activity.aspx" processing="stop" />
    <rewrite url="^~/rules.html$" to="~/Rules.aspx" processing="stop" />
  </rewriter>
  <system.web>
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <httpModules>
      <add type="Intelligencia.UrlRewriter.RewriterHttpModule,Intelligencia.UrlRewriter" name="UrlRewriter"/>
    </httpModules>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>
    </modules>
    <defaultDocument>
      <files>
        <add value="Index.aspx"/>
      </files>
    </defaultDocument>
    <httpErrors>
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="/Error404.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
  </system.webServer>
</configuration>
